@import "tailwindcss";

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-plus-jakarta-sans);
    --font-mono: var(--font-geist-mono);

    /* Custom Colors */
    --color-yellow: #d4ff5f;
    --color-light-bg: #f3efe9;
    --color-primary: #1f1f1f;
    --color-secondary: #6b7280;
    --color-dark: #1a1a1a;
    --color-input-bg: #1f2937;
    --color-white: #ffffff;
    --color-border-dark: #000000;
}

.h2-36 {
    font-size: calc(36 / 16 * 1rem);
    line-height: 1.2;
}

.text-18 {
    font-size: calc(18 / 16 * 1rem);
    line-height: 1.6;
}
